name: CD Pipeline

on:
  workflow_run:
    workflows: ["Node.js CI"]
    types:
      - completed
    branches: [main]

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: self-hosted  
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          # workflow: ciPipeline.yml
          name: nextapp
          # path: ./
          github-token: ${{ secrets.SECRET_TOKEN }}
          run-id: ${{ github.event.workflow_run.id }}

      - name: Unzip artifact
        run: unzip -o -d deploy.zip .

      - name: Install dependencies
        run: npm ci --force  

      - name: Start application
        run: |
          npm install -g pm2   
          pm2 delete next-app || true   
          pm2 start npm --name "next-app" -- run start
